
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(58, 54, 54);
    margin-top: 0;
}

center {
    display: none;
}

.counter {
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(180, 29, 29);
    color: white;
    font-size: 12px;
    bottom: 6px;
    right: 5px;
    border-radius: 50%;
    font-weight:800;
    z-index:10;
}

.bask {
    position: relative;
}

body a{
    text-decoration: none;
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

body input{
    text-decoration: none;
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body button{
    text-decoration: none;
    outline: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: rgb(24, 25, 23);
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
    width: 99%;
    position:fixed;
}

.grow-a{
    flex-grow: 1
}

.grow-b{
    flex-grow: 2
}

.grow-c{
    flex-grow: 1
}

.h-title{
    font-size: 25px;
    margin-bottom: 15px;
}

.h-title-shop-name{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.h-search{
    margin-bottom: 15px;
}

.h-inp-group{
    border: 2px solid white;
    border-radius:5px;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.h-inp-group img{
    height: 35px;
}

.h-inp-group button{
    outline: none;
    background: none;
    border: 0;
}

.h-inp-group button img{
    height: 30px;
}

.h-inp-group input{
    background: none;
    outline: none;
    height: 100%;
    width: 90%;
    font-size: 18px;
    color: white;
    border: 0;
}

.h-refs{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.h-refs a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
    font-size: 15px;
}

.pre-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border:2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(48, 194, 174);
}

.h-refs a img{
    height: 30px;
    width: auto;
}

.first-section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.menu{
    width: 20%;
    margin-right: 15px;
    background: rgb(24, 25, 23);
    color: white;
    padding: 5px;
    font-size: 25px;
    position: fixed;
    margin-bottom: 10px;
}

.menu-profile{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.menu-profile-user{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.menu-profile-user img{
    width: 50px;
    margin-right: 10px;
}

.menu-profile-sales{
    display: flex;
}

.menu-profile-sales span{
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid rgb(48, 194, 174);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link{
    display: flex;
    flex-direction: column;
}

.menu-link span{
    word-break: break-all;
}

.menu-link-group{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.menu-link-group img{
    width: 40px;
    height: auto;
    margin-right: 7px;
}

.main-part{
    width: 80%;
    background: rgb(24, 25, 23);
    color: white;
    padding: 10px;
}

.first-banner img{
    width: 100%;
    border-radius: 5px;
}

.good-list{
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: 250px 250px 250px;
    margin-top: 20px;
}

.good{
    width: 250px;
    height: 250px;
    border-radius: 7px;
    border: 1px solid rgb(48, 194, 174);
    text-align: center;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    transition: 0.3s;
}

.good:hover{
    box-shadow: 0 0 12px rgb(48, 194, 174);
}

.good img{
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.chat{
    position: fixed;
    z-index: 5;
    cursor: pointer;
}

.chat img{
    width: 65px;
    height: auto;
}

.chat-pannel{
    position: fixed;
    z-index: 5;
    right: 20px;
    top: 150px;
    width: 290px;
    height: 400px;
    border: 2px solid rgb(235, 88, 162);
    background-color: rgb(21, 22, 22);
    border-radius: 7px;
    color: white;
    display: none;
    flex-direction: column;
}

.chat-title{
    display: flex;
    border-bottom: 2px solid rgb(235, 88, 162);
    padding: 5px;
    align-items: center;
}

.chat-title img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.send-group{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    border-top: 2px solid rgb(235, 88, 162);
    height: 30px;
}

.send-group input{
    flex-grow: 5;
    outline: none;
    background: none;
    border: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-left: 5px;
    background-color: rgb(21, 22, 22);
}

.send-group button{
    flex-grow: 1;
    outline: none;
    background: none;
    border: none;
    font-size: 20px;
    text-align: center;
    background-color: rgb(235, 88, 162);
    color: white;
    cursor: pointer;
}

.message-box{
    font-size: 16px;
    padding: 3px;
    overflow-y: scroll;
}

.message-box::-webkit-scrollbar{
    width: 0;
}

.mess{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.mess div{
    width: 60%;
    word-break: keep-all;
    padding: 3px;
    border-radius: 5px;
}

.user{
    align-items: flex-end;
}

.user-context{
    background-color: rgb(235, 88, 162);
}

.admin-context{
    background-color: rgb(58, 54, 54);
}

.closer{
    position: absolute;
    right: 0px;
    top: 5px;
    cursor: pointer;
}

.closer img{
    width: 30px;
    height: 30px;
}

.logo{
    width: 55px;
    border-radius: 7px;
    border: 2px solid white;
}

.shop-name{
    width: 150px;
    margin-left: 10px;
}

.prof-img{
    width: 40px!important;
    height: auto!important;
}
